= form_for @invite do |f|
  - if @invite.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invite.errors.count, "error")} prohibited this invite from being saved:"
      %ul
        - @invite.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Email"
    = f.email_field :input, class: "form-control"
  .form-group
    = f.label "Message"
    = f.text_field :text, class: "form-control"
  
  = f.submit 'Send Invite', class: "btn btn-info btn-block btn-lg"
