.container.content_container
  %h1= title "Dashboard"
  #dashboard_nav.mt-2.mb-3
    .row
      .col-12
        %ul.nav.nav-pills
          = nav_link_to 'Today', dashboard_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }
          = nav_link_to 'Yesterday', dashboard_yesterday_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }
          = nav_link_to 'This Week', dashboard_this_week_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }
          = nav_link_to 'Last Week', dashboard_last_week_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }
          = nav_link_to 'This Month', dashboard_this_month_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }
          = nav_link_to 'Last Month', dashboard_last_month_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }
          = nav_link_to 'All', dashboard_all_path, {class: 'nav-link'}, { :wrapper => 'li', :wrapper_class => "nav-item", ignore_params: true }

  .row
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = User.created_between(@start_time,@end_time).count
          %p.card-text Sign Ups
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-success.mb-3
        .card-block
          %h2.card-title
            = Job.published_between(@start_time,@end_time).count
          %p.card-text Jobs
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-info.mb-3
        .card-block
          %h2.card-title
            = Project.created_between(@start_time,@end_time).count
          %p.card-text Projects
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.mb-3{style: "background-color: #333; border-color: #333;"}
        .card-block
          %h2.card-title
            = Company.created_between(@start_time,@end_time).count
          %p.card-text Companies
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = Story.published_between(@start_time,@end_time).count
          %p.card-text Stories
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-info.mb-3
        .card-block
          %h2.card-title
            = UserSkill.created_between(@start_time,@end_time).count
          %p.card-text User Skills
  
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = Milestone.created_between(@start_time,@end_time).count
          %p.card-text Milestones
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-success.mb-3
        .card-block
          %h2.card-title
            = Resume.created_between(@start_time,@end_time).count
          %p.card-text Resumes
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-info.mb-3
        .card-block
          %h2.card-title
            = Like.created_between(@start_time,@end_time).count
          %p.card-text Likes
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.mb-3{style: "background-color: #333; border-color: #333;"}
        .card-block
          %h2.card-title
            = Comment.created_between(@start_time,@end_time).count
          %p.card-text Comments
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = Follow.created_between(@start_time,@end_time).count
          %p.card-text Follows
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-info.mb-3
        .card-block
          %h2.card-title
            = UserRole.created_between(@start_time,@end_time).count
          %p.card-text User Roles

    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = Invite.created_between(@start_time,@end_time).count
          %p.card-text Invites
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-success.mb-3
        .card-block
          %h2.card-title
            = Message.created_between(@start_time,@end_time).count
          %p.card-text Messages
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-info.mb-3
        .card-block
          %h2.card-title
            = UserBadge.created_between(@start_time,@end_time).count
          %p.card-text Badges
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.mb-3{style: "background-color: #333; border-color: #333;"}
        .card-block
          %h2.card-title
            = AnalyticsEvent.searches.created_between(@start_time,@end_time).count
          %p.card-text Searches
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = AnalyticsEvent.email_opens.created_between(@start_time,@end_time).count
          %p.card-text Email Opens
    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-info.mb-3
        .card-block
          %h2.card-title
            = AnalyticsEvent.email_clicks.created_between(@start_time,@end_time).count
          %p.card-text Email Clicks

    .col-lg-2.col-md-3.col-sm-4.col-6
      .card.card-inverse.card-primary.mb-3
        .card-block
          %h2.card-title
            = Appointment.created_between(@start_time,@end_time).count
          %p.card-text Appointments

  .row
    .col-12
      %p.text-muted
        = @start_time.strftime('%a %D')
        to
        = @end_time.strftime('%a %D')