.media.mb-4{id: "appointment_message_#{appointment_message.id}"}
  = link_to image_tag(model_avatar(appointment_message.user.avatar, 200, true), width: 52, class: 'd-flex mr-3 rounded-circle'), appointment_message.user
  .media-body
    %p.mb-0
      %strong
        = link_to appointment_message.user.display_name, appointment_message.user
    %div{id: "appointment_message_#{appointment_message.id}_text"}
      %p.mb-0
        = Rinku.auto_link(simple_format(appointment_message.text), :all, 'target="_blank"').html_safe
    
    %small.text-muted
      = local_time_ago(appointment_message.created_at)
      - if policy(appointment_message).edit?
        ·
        = link_to "Edit", edit_appointment_message_path(appointment_message), remote: true, class: "text-muted"
      - if policy(appointment_message).destroy?
        ·
        = link_to "Delete", appointment_message_path(appointment_message), method: :delete, data: { confirm: "Delete this message?" }, class: "text-muted"
    