= form_for @milestone do |f|
  - if @milestone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@milestone.errors.count, "error")} prohibited this milestone from being saved:"
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :title, class: "form-control", placeholder: "Founded HireClub"
    %small#emailHelp.form-text.text-muted
      Milestones are the remarkable things you did.
      Make them short, punchy and interesting.
      %br
    %p
      Joined HireClub as CEO
    %p
      Increased Sales by 75% at Google Adwords
    %p
      Learned Python at HackReactor
    %p
      Graduated from Harvard with a degree in Computer Science

  .form-group
    = f.label "When did you do this?"
    = f.date_select :start_date, end_year: Date.today.year + 1, start_year: Date.today.year - 20, discard_day: true, order: [:month,:year]
  .form-group
    = f.label :link
    = f.text_field :link, class: "form-control"
    %small.text-muted
      Optional link for Milestone

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: "HireClub started with 25 friends. Now it's 9000+ people.", rows: 2
    %small.text-muted
      Optional short description to provide more details.
  .form-group
    = f.label :company

    = f.text_field :company, class: "form-control", value: @milestone.company.try(:name), placeholder: "HireClub"
    = f.hidden_field :company_id, value: @milestone.company_id
    / = f.collection_select(:company_id, Company.by_name, :id, :name, {include_blank: true}, {class: "form-control"})
  %hr
  = f.submit 'Save', class: "btn btn-primary btn-lg"
  = link_to "Cancel", current_user, class: "btn btn-link btn-lg"
