.container.content_container
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to @milestone.user.display_name, @milestone.user
    %li.breadcrumb-item.active
      Milestones

  - if policy(@milestone).edit?
    %p.mt-4
      = link_to edit_milestone_path(@milestone) do
        %span.badge.badge-pill-outline.text-uppercase.mr-2
          Edit
  .mb-4
    %h1.display-4
      = title @milestone.name
    %h6.regular
      = @milestone.start_date.strftime('%B %e, %Y')
      - if @milestone.end_date      
        = "-"
        = @milestone.end_date.strftime("%b %Y")
      - if @milestone.company
        ·
        = link_to @milestone.company.name, @milestone.company
    
  .row
    .col-md-6
      - if @milestone.skills_list.present?
        %h6 Skills
        %p
          - @milestone.skills.each do |skill|
            %span.badge.badge-pill.badge-info
              = skill
          
      %p
        = @milestone.description  
      %hr
      .row
        .col-6
          - if @milestone.link
            = link_to link_host(@milestone.link), @milestone.link, target: "_blank"
        .col-6
          .pull-right
            = render partial: "/likes/like_button", locals: { likeable: @milestone }      
      %hr
      = render partial: "comments/comments", locals: {commentable: @milestone}
      = render partial: "comments/form", locals: {commentable: @milestone}
