.container.mt-5.mb-5
  .row
    .col-sm-6.offset-sm-3.col-lg-4.offset-lg-4
      
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        %h2 Profile

        .form-group
          = f.label :name, "Full Name"
          = f.text_field :name, class: 'form-control'

        .form-group
          = f.label :username, "Username"
          = f.text_field :username, class: 'form-control'
          %small.form-text.text-muted 
            %span hireclub.co/username

        .form-group
          = f.label :location
          = f.text_field :location, class: 'form-control', value: @user.location.try(:display_name)
          = f.hidden_field :location_id, value: @user.location_id

        .form-group
          = f.label :bio
          = f.text_area :bio, class: 'form-control', rows: 3

        .form-group
          = f.label 'Profile Image'
          %br
          = image_tag(model_image(resource.avatar, 200, 200, true), width: 100, class: 'img-circle m-b-1')
          %br

          = f.file_field :avatar
          = f.hidden_field :retained_avatar
        %hr
          
        %h2 Settings

        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: 'form-control'
          %small.form-text.text-muted
            Leave blank if you dont want to change it.
            - if @minimum_password_length
              %br
              = @minimum_password_length
              characters minimum.
        
        = f.submit "Save Changes", class: "btn btn-primary btn-block"
      / %hr
      / %h3.m-t-3 Delete Account
      / %p
      /   You can delete your account and all data associated with it.
      / %p
      /   = link_to "Delete Account", registration_path(resource_name), :method => :delete, :data => { :confirm => 'Delete your account?' }, class: 'btn btn-danger btn-sm'
        
      
