.row.mb-5
  .col-md-4
    = image_tag(model_image(appointment_type.appointment_category.image, 400,300), class: "img-fluid")
    
  .col-md-7
    %h3
      = appointment_type.name
    %p.text-muted
      = appointment_type.duration
      Minutes
      ·
      = humanized_money_with_symbol(appointment_type.price_cents)
      - if current_user && current_user.is_admin
        ·
        = link_to "Admin", rails_admin.edit_path(model_name: 'appointment_type', id: appointment_type.id), class: "text-warning"
    %p
      = appointment_type.description
    %p
      = link_to 'Book Now', appointment_type.acuity_link, class: "btn btn-primary btn-lg"
      

/ .card{:style => "width: 400px;"}

/   %img.card-img-top{:alt => "Card image cap", :src => model_image(appointment_type.appointment_category.image, 400,300)}
/   .card-block
/     %h4.card-title
/       = appointment_type.name
/     %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/     %a.btn.btn-primary{:href => "#"} Go somewhere
