= title "Search Results"
.container.mt-3
  %h5.mb-3
    = "Search Results for \"#{params[:q]}\""
  - @results.each do |result|
    - if result.searchable_type == "Company"
      = render partial: "/companies/company", locals: {company: result.searchable}
    - elsif result.searchable_type == "User"
      = render partial: "/users/user", locals: {user: result.searchable}

  = paginate @results