- set_meta_tags title: "Search Results"
.container.mt-3
  %h5.mb-3
    = "Search Results for \"#{params[:q]}\""
  - @results.each do |result|
    - if result.searchable_type == "Company"
      = render partial: "/companies/company", locals: {company: result.searchable}
    - elsif result.searchable_type == "User"
      = render partial: "/users/user", locals: {user: result.searchable}
    - elsif result.searchable_type == "Job"
      = render partial: "/jobs/job", locals: {job: result.searchable}
    - elsif result.searchable_type == "Project"
      = render partial: "/search/project", locals: {project: result.searchable}      

  = paginate @results

  