- title @conversation.other_users(current_user).map(&:display_name).join(", ")
.container-fluid.mt-2.mb-5
  .row
    = render "conversation_list"
    .col-sm-8.message_section
      .row
        .new_message_head
          .pull-left
            %button
              - @conversation.other_users(current_user).each do |user|
                = link_to user.display_name, user
        .chat_area
          #messages{"data-conversation-id" => @conversation.id}
            = render @conversation.messages.by_recent
        .message_write
          = form_for @message, url: '#' do |f|
            = f.hidden_field :conversation_id, value: @conversation.id
            .row
              .col-xs-9.col-sm-10
                .form-group
                  = f.text_field :text, class: 'form-control', placeholder: "Message", autocomplete: "off"
              .col-xs-3.col-sm-2
                = f.submit "Send", class: 'btn btn-primary btn-block'

:javascript
  $('.member_list').height($(window).height() - 147);
  $('.chat_area').height($(window).height() - 227);
  $('body').css('overflow-y', 'hidden');