.container.content_container
  %h1 Newsletters

  %table.table
    %thead
      %tr
        %th Campaign
        %th Subject
        %th Email List
        %th Sent On
        %th
        %th
        %th

    %tbody
      - @newsletters.each do |newsletter|
        %tr
          %td= link_to newsletter.campaign_id, newsletter
          %td= link_to newsletter.subject, newsletter
          %td= newsletter.email_list.try(:name)
          %td
            - if newsletter.published?
              = newsletter.sent_on.strftime("%b %-d %Y %-l:%M%P")
            - else
              = link_to 'Publish', publish_newsletter_path(newsletter), class: "btn btn-sm btn-secondary"  
              
          %td= link_to 'Edit', edit_newsletter_path(newsletter), class: "btn btn-sm btn-info"
          %td= link_to 'Preview', preview_newsletter_path(newsletter), class: "btn btn-sm btn-success"
          %td
            = link_to "Admin", rails_admin.edit_path(model_name: 'newsletter', id: newsletter.id), class: "btn btn-sm btn-warning"

  %br

  = link_to 'Create Newsletter', new_newsletter_path, class: "btn btn-info"
