- user = activity.owner
- project = activity.trackable
.media.mb-2
  = render partial: "/public_activity/user_avatar", locals: {user: user}
  .media-body
    = link_to user.display_name, user
    added
    = link_to "project #{project.name}", project_path(project)
    = render partial: "/public_activity/time_ago", locals: {activity: activity}
