%h4
  = link_to @job.user.display_name, @user_url
  posted a job for
  = link_to @job.company.name, @company_url
%h2
  = link_to @job.name, @job_url
%p
  = simple_format truncate(@job.description, length: 160)
%p
  = link_to "View Job", @job_url