%a.list-group-item.list-group-item-action{href: link, data: {key: activity.key}}
  .media
    .media-left
      = image_tag(model_avatar(activity.owner.avatar, 200, true), width: 48, class: "d-flex mr-3 rounded-circle")
    .media-body
      %p.mb-0
        %span
          %strong
            = activity.owner.display_name
          = verb
          %strong
            = object
        %br
        %small.text-muted
          = local_time_ago(activity.created_at)
    