.list-group-item{data: {key: activity.key}}
  .media
    .media-left
      = link_to image_tag(model_avatar(activity.owner.avatar, 200, true), width: 48, class: "d-flex mr-3 rounded-circle"), link
    %a{href: link, style: "color: inherit"}
      .media-body
        %p.mb-0
          %span
            %strong
              = activity.owner.display_name
            = verb
            %strong
              = object
          %br
          %small.text-muted
            = local_time_ago(activity.created_at)
    
    .media-right.mr-3{style: "position: absolute; right: 0"}
      - action_link ||= nil
      = action_link

