= title @user.name

.container.mt-5.mb-5
  .media
    = image_tag(model_image(@user.avatar, 200, 200, true), width: 100, class: "d-flex mr-3 rounded-circle")
    .media-body
      %h1.black
        = @user.name
      - if @user.username.present?
        %h5
          = "@#{@user.username}"

  - if @user == current_user
    - unless @user.onboarded?
      = link_to "Complete Profile", onboarding_index_path, class: "btn btn-primary"

  - if @user.user_skills.any?
    %hr
    %h6.mt-4.mb-4
      Skills
      - if @user == current_user
        %a.btn.btn-primary.btn-sm{href: new_user_skill_path}
          %i.fa.fa-plus
  - @user.user_skills.each do |user_skill|
    %h5.user_skill
      = link_to user_skill.skill.name, user_skill.skill
      %small
        = pluralize(user_skill.years, "year")

        - if policy(user_skill).edit?
          = link_to edit_user_skill_path(user_skill), class: "edit_user_skills ml-1 mr-1 text-muted hover_primary" do
            %i.fa.fa-pencil

        - if policy(user_skill).destroy?
          = link_to user_skill, method: :delete, data: { confirm: "Remove #{user_skill.name} skill?" }, remote: true, class: "delete_user_skills text-muted hover_danger" do
            %i.fa.fa-trash-o

  - if @user.projects.any?
    %hr
    %h6.mt-4.mb-4
      Projects
      - if @user == current_user
        %a.btn.btn-primary.btn-sm{href: new_user_project_path(current_user)}
          %i.fa.fa-plus

  .row
    - @user.projects.each do |project|
      .col-sm-3.project
        .card
          %img.card-img-top{:alt => project.name, :src => model_image(project.image, 800, 600, true), width: "100%"}
          .card-block
            %p.card-text
              = project.name
              - if policy(project).edit?
                = link_to edit_user_project_path(current_user, project), class: "edit_user_projects ml-1 mr-1 text-muted hover_primary " do
                  %i.fa.fa-pencil

              - if policy(project).destroy?
                = link_to user_project_path(current_user, project), method: :delete, data: { confirm: "Remove #{project.name} project?" }, remote: true, class: "delete_user_projects text-muted hover_danger" do
                  %i.fa.fa-trash-o
