= title @user.name

.container.mt-5
  .row
    .col-sm-8
      .media
        = image_tag(model_image(@user.avatar, 200, 200, true), width: 100, class: "d-flex mr-3 rounded-circle")
        .media-body
          %h1.black
            - link = @user.website_url.present? ? @user.website_url : user_url(@user)
            = link_to @user.name, link

          - if @user.user_roles.any? || @user == current_user
            %h5
              - @user.user_roles.by_position.each_with_index do |user_role, index|
                %span.user_role
                  = link_to user_role.name, user_role.role
                  / - if policy(user_role).edit?
                  /   = link_to edit_user_role_path(user_role), class: "edit_user_roles ml-1 mr-1 display_none text-muted hover_primary" do
                  /     %i.fa.fa-pencil

                  - if policy(user_role).destroy?
                    = link_to user_role, method: :delete, data: { confirm: "Remove #{user_role.name} role?" }, remote: true, class: "delete_user_roles display_none text-muted hover_danger" do
                      %i.fa.fa-trash-o
                  - comma = index < (@user.user_roles.count - 1) ? " · " : ""
                  = comma

              - if @user == current_user
                %a.add_role_btn.btn.btn-primary.btn-sm{href: new_user_role_path}
                  %i.fa.fa-plus
            
          %small    
            - if @user.username.present? 
              = link_to "@#{@user.username}", user_url(@user)
            - if @user.location.present?
              ·
              = @user.location.name
            ·
            = pluralize(@user.years_experience, "Year")
            Experience

        

    .col-sm-3
      - if @user == current_user
        - unless @user.onboarded?
          = link_to "Complete Profile", onboarding_index_path, class: "btn btn-primary btn-block"
        - else
          = link_to "Edit", edit_user_registration_path, class: "btn btn-primary btn-block"
      %p.mt-4
        - if @user.facebook_url.present?
          = link_to @user.facebook_url do
            %i.fa.fa-facebook.ml-2
        - if @user.twitter_url.present?
          = link_to @user.twitter_url do
            %i.fa.fa-twitter.ml-2
        - if @user.dribbble_url.present?
          = link_to @user.dribbble_url do
            %i.fa.fa-dribbble.ml-2
        - if @user.github_url.present?
          = link_to @user.github_url do
            %i.fa.fa-github.ml-2
        - if @user.linkedin_url.present?
          = link_to @user.linkedin_url do
            %i.fa.fa-linkedin.ml-2
        - if @user.medium_url.present?
          = link_to @user.medium_url do
            %i.fa.fa-medium.ml-2



  - if @user.bio
    %hr
      %p.lead.mt-4
        = @user.bio

/ - if @user.bio
/   .jumbotron.mt-4
/     .container
/       .row.justify-content-center
/         .col-sm-10
/           %p.lead
/             = @user.bio

.container.mb-5
  .row
    .col-sm-8
      - if @user.milestones.any? || @user == current_user
        %hr
        %h6.mt-4.mb-4
          Milestones
          - if @user == current_user
            %a.btn.btn-primary.btn-sm{href: new_milestone_path}
              %i.fa.fa-plus
        - @user.milestones.by_newest.each do |milestone|
          .row.user_milestone.mb-2
            .col-sm-4.col-md-3.col-lg-2
              = milestone.start_date.strftime("%b %Y")
            .col-sm-8.col-md-9.col-lg-10
              
              - if milestone.link.present?
                = link_to milestone.title, milestone.link, target: "_blank"
              - else
                = milestone.title

              - if policy(milestone).edit?
                = link_to edit_milestone_path(milestone), class: "edit_user_milestones ml-1 mr-1 display_none text-muted hover_primary " do
                  %i.fa.fa-pencil
              - if policy(milestone).destroy?
                = link_to milestone, method: :delete, data: { confirm: "Remove this milestone?" }, remote: true, class: "delete_user_milestones display_none text-muted hover_danger" do
                  %i.fa.fa-trash-o
              - if milestone.description.present?
                %p.milestone_description.display_none
                  %small
                    = milestone.description
    .col-sm-4
      - if @user.user_skills.any? || @user == current_user
        %hr
        %h6.mt-4.mb-4
          Skills
          - if @user == current_user
            %a.btn.btn-primary.btn-sm{href: new_user_skill_path}
              %i.fa.fa-plus
      - @user.user_skills.by_position.each do |user_skill|
        = render user_skill


  - if @user.projects.any? || @user == current_user
    %hr
    %h6.mt-4.mb-4
      Projects
      - if @user == current_user
        %a.btn.btn-primary.btn-sm{href: new_user_project_path(current_user)}
          %i.fa.fa-plus

  .row
    - @user.projects.each do |project|
      .col-sm-6.col-md-4.project
        .card
          = link_to user_project_path(project.user, project) do
            %img.card-img-top{:alt => project.name, :src => model_image(project.image, 800, 600, true), width: "100%"}

          .card-block
            %p.card-text
              = link_to project.name, user_project_path(project.user, project) if project.name.present?
              - if project.link.present?
                = link_to project.link, target: "_blank" do
                  %i.fa.fa-external-link

              - if policy(project).edit?
                = link_to edit_user_project_path(current_user, project), class: "edit_user_projects ml-1 mr-1 display_none text-muted hover_primary " do
                  %i.fa.fa-pencil

              - if policy(project).destroy?
                = link_to user_project_path(current_user, project), method: :delete, data: { confirm: "Remove #{project.name} project?" }, remote: true, class: "delete_user_projects display_none text-muted hover_danger" do
                  %i.fa.fa-trash-o
