.user_skill.mb-2{"data-id": user_skill.id, "data-position": user_skill.position}
  - if policy(user_skill).edit?
    %span.drag_handle.mr-1
      %i.fa.fa-bars

  = link_to user_skill.skill.name, user_skill.skill
  %small
    = pluralize(user_skill.years, "year") if user_skill.years > 0

  - if policy(user_skill).edit?
    = link_to edit_user_skill_path(user_skill), class: "edit_user_skills ml-1 mr-1 display_none text-muted hover_primary" do
      %i.fa.fa-pencil

  - if policy(user_skill).destroy?
    = link_to user_skill, method: :delete, data: { confirm: "Remove #{user_skill.name} skill?" }, remote: true, class: "delete_user_skills display_none text-muted hover_danger" do
      %i.fa.fa-trash-o