- user = activity.owner
- post = activity.trackable
- community = post.community
.media.mb-2
  = render partial: "/public_activity/user_avatar", locals: {user: user}
  .media-body
    = link_to user.display_name, user
    posted in
    = link_to community.name, community

    %br
      = link_to post.text, post

    %small
      = link_to local_time_ago(post.created_at), post_path(post), class: 'text-muted'
      ·
      = link_to "Reply", post_path(post)
    
    
    
