#createSkillModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "createSkillModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#createSkillModalLabel.modal-title Add Skill
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      - skill = Skill.new
      = form_for skill, remote: true, html: {authenticity_token: true, class: 'skill_new', "data-type" => "json"} do |f|
        .modal-body
          %p
            Please be very careful in adding new skills.
            %br
            Don't add 
            %strong "Sales Operations"
            , because are there is already 
            %strong "Sales"
            and 
            %strong "Operations"
            skills.
            %br
            If there is
            %strong "Prototyping"
            , don't add 
            %strong "Rapid Prototyping"
            \.
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .form-group
            = f.label "Skill"
            = f.text_field :name, class: 'form-control', autocomplete: :off
            .form-control-feedback
              %span#existing_skill
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
          = f.submit 'Save', class: 'btn btn-primary'
