- if user_signed_in?
  = form_for [attachable, Attachment.new], html: {class: "form-inline"} do |f|
    .form-group
      %a.btn.btn-secondary.mr-2
        %i.fa.fa-file-o
    .form-group
      = f.text_field :link, placeholder: "Link", class: 'form-control'
    .form-group
      = f.file_field :file, class: 'form-control-file mt-2'
      = f.hidden_field :retained_file
    = f.submit "Add Attachment", class: "btn btn-primary"
