= form_for @appointment_review do |f|
  - if @appointment_review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment_review.errors.count, "error")} prohibited this appointment_review from being saved:"
      %ul
        - @appointment_review.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :appointment_id

  .col-sm-6
    .form-group
      = f.label :rating
      = f.select :rating, options_for_select(['',1,2,3,4,5]), class: "form-control"
    .form-group
      = f.text_area :text, class: "form-control", rows: 5, placeholder: "Comments"

    = f.submit "Submit", class: "btn btn-info btn-block btn-lg"

  

