%p#notice= notice

%p
  %b Appointment:
  = @appointment_review.appointment.name
%p
  %b Rating:
  = @appointment_review.rating
%p
  %b Text:
  = @appointment_review.text
%p
  %b User:
  = @appointment_review.user.name


= link_to 'Back', appointment_reviews_path
