- user = activity.owner
- like = activity.trackable
- likeable = like.likeable
.media.mb-2
  = link_to image_tag(model_image(user.avatar, 200, 200, true), width: 50, class: "d-flex align-self-center mr-3 rounded-circle"), user
  .media-body
    = link_to user.display_name, user
    likes
    = link_to "#{likeable.user.display_name}'s", likeable.user
    - if like.likeable_type == "Project"
      project
      = link_to like.likeable_name, user_project_path(likeable.user, likeable)
    - if like.likeable_type == "UserBadge"
      badge
      = link_to like.likeable_name, user_path(likeable.user)
    - if like.likeable_type == "Milestone"
      milestone
      = link_to like.likeable_name, like.likeable
    
    = render partial: "/public_activity/time_ago", locals: {activity: activity}
    
    