- user = activity.owner
- like = activity.trackable
- likeable = like.likeable
.media.mb-2
  = render partial: "/public_activity/user_avatar", locals: {user: user}
  .media-body
    = link_to user.display_name, user
    likes
    = link_to "#{likeable.user.display_name}'s", likeable.user
    - if like.likeable_type == "Project"
      project
      = link_to like.likeable_name, project_path(likeable)
    - if like.likeable_type == "UserBadge"
      badge
      = link_to like.likeable_name, user_path(likeable.user)
    - if like.likeable_type == "Milestone"
      milestone
      = link_to(truncate(like.likeable_name,length:40), like.likeable)
    - if like.likeable_type == "Comment"
      comment on
      = link_to(truncate(like.likeable.commentable.name,length:40), like.likeable.commentable)
    
    = render partial: "/public_activity/time_ago", locals: {activity: activity}
    
    