- appointment = activity.trackable
- new_start_time = activity.parameters[:new_start_time]
- link = url_for(appointment)

- appointment = activity.trackable
- user_name = appointment.user.present? ? "" : "#{appointment.user_name} "
- object = "#{appointment.name} to #{new_start_time.in_time_zone(appointment.timezone).strftime("%A %B %e %l:%M %P")}".html_safe
= render partial: "/notifications/item", locals: {activity: activity, verb: "#{user_name}rescheduled appointment", object: object, link: url_for(appointment)}