.container.content_container
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Events", events_path
    %li.breadcrumb-item.active
      = link_to @event.name, @event

  - if @event.unpublished? && policy(@event).publish?
    = link_to publish_event_path(@event) do
      %span.badge.badge-pill.badge-primary.text-uppercase.mr-2
        Publish

  - if policy(@event).edit?
    = link_to edit_event_path(@event) do
      %span.badge.badge-pill-outline.text-uppercase.mr-2
        Edit

  - if is_admin?
    = link_to rails_admin.edit_path(model_name: 'event', id: @event.id) do
      %span.badge.badge-pill-outline.badge-warning.text-uppercase
        Admin

  %a{:href => @event.source_url, target: "_blank"}
    = image_tag(model_image(@event.image, 1920, 710, true), class: 'm-b-1 img-fluid')
  .row.mt-5
    .col-sm-8
      %h1
        = @event.name
    .col-sm-4
      %a.btn.btn-info.btn-lg.btn-block{:href => @event.source_url, target: "_blank"}
        RSVP
  .row
    .col-sm-8
      %h6.mt-4 Start time
      = @event.start_time.strftime("%A %B %e, %l:%M%p · %Y")
      %h6.mt-4 End time
      = @event.end_time.strftime("%A %B %e, %l:%M%p")
      %h6.mt-4 Description:
      = Rinku.auto_link(markdown(@event.description), :all, 'target="_blank"').html_safe if @event.description.present?
    .col-sm-4
      %h6.mt-4 Location
      = @event.location.try(:cached_display_name)
      %h6.mt-4 Venue
      = Rinku.auto_link(@event.venue).html_safe
  