.col-sm-3.mb-4
  .list-group
    = nav_link_to 'Profile', settings_path, {class: 'list-group-item'}, { ignore_params: true }
    = nav_link_to 'Status', settings_status_path, {class: 'list-group-item'}, { ignore_params: true }
    = nav_link_to 'Links', settings_links_path, {class: 'list-group-item'}, { ignore_params: true }
    = nav_link_to 'Notifications', settings_notifications_path, {class: 'list-group-item'}, { ignore_params: true }
    = nav_link_to 'Account', settings_account_path, {class: 'list-group-item'}, { ignore_params: true }