.container.content_container
  .row
    = render partial: "sub_nav"
    
    .col-sm-6
      %h1= title "Notifications"

      = form_for @user, url: settings_update_path, method: :put do |f|
        = f.fields_for :preference, @user.preference do |p|
          %h6 Email Me When
          .form-check
            %label.form-check-label
              = p.check_box :email_on_follow, class: 'form-check-input'
              Someone follows me
          .form-check
            %label.form-check-label
              = p.check_box :email_on_comment, class: 'form-check-input'
              Someone comments on my profile
          .form-check
            %label.form-check-label
              = p.check_box :email_on_mention, class: 'form-check-input'
              Someone mentions me
          .form-check
            %label.form-check-label
              = p.check_box :email_on_job_post, class: 'form-check-input'
              Someone I follow posts a job
          .form-check
            %label.form-check-label
              = p.check_box :email_on_event_publish, class: 'form-check-input'
              Someone I follow adds an event
          .form-check
            %label.form-check-label
              = p.check_box :email_on_unread, class: 'form-check-input'
              I have unread messages 
          .form-check
            %label.form-check-label
              = p.check_box :email_newsletter, class: 'form-check-input'
              Newsletter and HireClub Updates

          %hr
            %label.form-check-label
              = p.check_box :unsubscribe_all, class: 'form-check-input'
              Unsubscribe All
        %hr
        = f.submit "Save Changes", class: "btn btn-info btn-lg btn-block mt-5"
