- set_meta_tags keywords: "Headshots Photograpy Images Social Media"
- set_meta_tags description: "HireClub Headshots: First impressions that get you hired. Book your shoot today."
- set_meta_tags image_src: image_url("headshots/headshots_preview.jpg")
- set_meta_tags og: {image: image_url("headshots/headshots_preview.jpg"), url: headshots_url }


.jumbotron.jumbotron-fluid.hireclub_headshots.d-flex.align-items-end
  .container.text-white
    %h1.text-uppercase.black
      = title "HireClub Headshots"

    %p
      First impressions that get you hired

    .row
      .col-md-4
        %p
          %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography', class: "btn btn-primary btn-lg btn-block mt-2"}
            Book Your Shoot
  
.jumbotron.jumbotron-fluid.headshots_starting.d-flex.align-items-end
  .container.text-white
    %h1.text-uppercase.black
      Starting at $75
    

.container
  .row.justify-content-md-center
    .col-md-4
      %p.mt-4.mb-4
        Starting at just $75, our professional photographers work with you to create a custom look that is both professional and powerful.

  .row.justify-content-md-center
    .col-md-4
      %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography', class: "btn btn-primary btn-lg btn-block mb-5"}
        Book Your Shoot



.jumbotron.jumbotron-fluid.d-flex.align-items-end.headshots_likes
  .container.text-white
    %h1.text-uppercase.black
      Get all the likes
    
.container
  .row.justify-content-md-center
    .col-md-4
      %p.mt-4.mb-4
        Use your HireClub Headshot for Facebook, LinkedIn  or Tinder. Doesn’t matter where, your new headshot will you get noticed like never before.

  .row.justify-content-md-center
    .col-md-4
      %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography', class: "btn btn-primary btn-lg btn-block mb-5"}
        Book Your Shoot


.jumbotron.jumbotron-fluid.d-flex.align-items-end.headshots_bold
  .container.text-white
    %h1.text-uppercase.black
      Your boldest look
    

.container
  .row.justify-content-md-center
    .col-md-4
      %p.mt-4.mb-4
        Our stylists will help you with wardrobe, make up and accessories to help you look your best. You don’t have to be a model but we’ll make you feel like one.

  .row.justify-content-md-center
    .col-md-4
      %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography', class: "btn btn-primary btn-lg btn-block mb-5"}
        Book Your Shoot


%section.headshots_packages
  .container
    .text-center
      %h2 Choose Your Package
    .row
      .col-md-4
        %a{href:"https://hireclub.acuityscheduling.com/schedule.php?appointmentType=2806486", style: "color: inherit"}
          .card.mb-3
            .card-block
              %h4.bold.card-title
                Express
                %span.light
                  $75
              %p.card-text
                1 Retouched Shot
                %br
                1 Style
                %br
                + Hair & Make Up
      .col-md-4
        %a{href:"https://hireclub.acuityscheduling.com/schedule.php?appointmentType=2806522", style: "color: inherit"}
          .card.mb-3
            .card-block
              %h4.bold.card-title
                Standard
                %span.light
                  $150
              %p.card-text
                2 Retouched Shots
                %br
                2 Styles
                %br
                + Hair & Make Up
              %p.card-text.bold
                Most Popular
      .col-md-4
        %a{href:"https://hireclub.acuityscheduling.com/schedule.php?appointmentType=2806525", style: "color: inherit"}
          .card.mb-3
            .card-block
              %h4.bold.card-title
                Pro
                %span.light
                  $300
              %p.card-text
                3 Retouched Shots
                %br
                3 Styles
                %br
                + Hair & Make Up

    %p.text-center.bold
      Additional Retouched shots are $25 each.

%section.mb-5
  .container
    .row
      .col-12.mb-4
        .text-center
          %h2 Up To 3 Different Styles
      .col-md-4
        %h4.bold Business Blue
        %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography'}
          = image_tag("headshots/styles/business_blue.jpg", class: 'img-fluid rounded')
        %p.mt-3
          Business Blue makes you look good anywhere, any time. Great for professional profiles.
      .col-md-4
        %h4.bold Natural Tan
        %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography'}
          = image_tag("headshots/styles/natural_tan.jpg", class: 'img-fluid rounded')
        %p.mt-3
          Natural Tan highlights your inner glow. Perfect for a warm and personal feel.
      .col-md-4
        %h4.bold Power Black
        %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography'}
          = image_tag("headshots/styles/power_black.jpg", class: 'img-fluid rounded')
        %p.mt-3
          Powerful and high contrast. Power Black is awesome for commanding respect and authority.

%section.mt-5
  .container
    .row
      .col-12.mb-4
        .text-center
          %h2 Samples
    .row
      .col-md-4.col-6.mb-4
        = image_tag("headshots/derek_yuan.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/coraly_rosario.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/alena_chincurtis.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/sara_madanat.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/aaron_endre.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/carlos_martinez.jpg", class: 'img-fluid')
    .row.mt-4
      .col-md-4.offset-md-4
        %a{href: 'https://hireclub.acuityscheduling.com/schedule.php?appointmentType=category:Photography', class: "btn btn-primary btn-lg btn-block mb-4"}
          Book Now

%section
  .container
    .row
      .col-md-4
        %h5.semi_bold Dates
        %p
          %strong
            July 21, 2017
          or
          %strong
            July 29, 2017
          %br
          10 AM to 6 PM

      .col-md-4
        %h5.semi_bold Address
        %p 
          530 Hampshire St
          %br
          San Francisco, CA 94110
          %br
          %a{href: "https://www.google.com/maps/place/530+Hampshire+Street+San+Francisco+CA+94110", target: "_blank"}
            Directions
      .col-md-4
        %h5.semi_bold Booking
        %p
          Please come 15 minutes before your appointment.
          %br
          Parking is tough. Time accordingly.
          %br
          48 Hour Cancellation Policy. 

    .row.mt-5
      .col-12
        %h2 FAQ

    .row.mb-3
      .col-sm-6
        %h5.semi_bold What should I wear?
        %p
          Bring at least 3 outfits that you look best in. Simple colors are best and no loud patterns or logos.
          %br
          One outfit should be black/grey/white monochrome.
          %br
          %strong Women:
          Dresses are great! We've had folks use Rent the Runway to bring that amazing perfect outfit.
          %br
          %strong Men:
          Bring at least one suit jacket. 
    .row.mb-3
      .col-sm-6
        %h5.semi_bold What about make up?
        %p
          %strong Women: 
          Have a good clean base before you arrive. Our make up artists will touch you up.
          %br
          %strong Men:
          We only apply enough make up to remove any shine. Relax, it's what Hollywood does too.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold What about hair?
        %p
          Wash and dry your hair before you arrive. Our stylists will work with you to get it looking perfect.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold How long is the shoot?
        %p
          10, 15 or 30 minutes depending on your package. Arrive 15 minutes ahead of appointment time.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold How many photos will you take?
        %p
          As many as we can fit in your time. Relax, enjoy yourself and have fun.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold How do I pick the photos to retouch?
        %p
          After the shoot, we'll send you a private link to your photos. Your package includes 1, 2 or 3 retouched shots and additional retouched shots are $25.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold What kind of retouching do you do?
        %p
          We remove blemishes, straighten photos, edit out of place hair strands. We keep things simple with a light touch. We don't modify body parts.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold What's the turn around time?
        %p
          1 week. Take your time in picking the photos you want. But once you choose, retouching takes about a week.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold Can I cancel?
        %p
          You can cancel for free up to 72 hours before the day of the shoot. After that there is no refunds.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold Can I change my appointment time?
        %p
          Yes, your appointment has a link to reschedule up to 72 hours before day of the shoot.
    .row.mb-3
      .col-sm-6
        %h5.semi_bold How do I make sure I look great?
        %p
          Photography is an expression of feeling. Come relaxed and ready to have fun. Our photographers and stylists will work with you to get the best look for you. The more you relax and enjoy, the better the pictures turn out.
    
    