%section.hireclub_headshots
  .jumbotron
    .container
      %h1
        HireClub Headshots
      %p
        First impressions that get you hired

%section.headshots_starting
  .jumbotron
    .container
      %h1
        Starting at $75
  .container
    %p
      Starting at just $75 our professional photographers work with you to create a custom look that is both professional and powerful. You’ll be talking at TED soon!
    .row
      .col-md-4.offset-md-4
        %a{href: '#', class: "btn btn-primary btn-lg btn-block"}
          Book Your Shoot

.row
  .col-md-6
    %section.headshots_likes
      .jumbotron
        .container
          %h1
            Get all the likes
      .container
        %p
          Use your HireClub Headshot for Facebook, LinkedIn  or Tinder. Doesn’t matter where, your new headshot will you get noticed like never before.

  .col-md-6
    %section.headshots_bold
      .jumbotron
        .container
          %h1
            Your boldest look
      .container
        %p
          Our stylists will help you with wardrobe, make up and accessories to help you look your best. You don’t have to be a model but we’ll make you feel like one.

.container
  .row
    .col-md-4.offset-md-4.mb-5
      %a{href: '#', class: "btn btn-primary btn-lg btn-block"}
        Book Your Shoot

%section.headshots_packages
  .container
    .text-center
      %h2 Choose Your Package
    .row
      .col-md-4
        %a{href:"#", style: "color: inherit"}
          .card.mb-3
            .card-block
              %h4.bold.card-title
                Express
                %span.light
                  $75
              %p.card-text
                1 Retouched Shot
                %br
                1 Background
                %br
                + Hair & Make Up
      .col-md-4
        %a{href:"#", style: "color: inherit"}
          .card.mb-3
            .card-block
              %h4.bold.card-title
                Standard
                %span.light
                  $150
              %p.card-text
                2 Retouched Shots
                %br
                2 Backgrounds
                %br
                + Hair & Make Up
              %p.card-text.bold
                Most Popular
      .col-md-4
        %a{href:"#", style: "color: inherit"}
          .card.mb-3
            .card-block
              %h4.bold.card-title
                Pro
                %span.light
                  $225
              %p.card-text
                3 Retouched Shots
                %br
                3 Backgrounds
                %br
                + Hair & Make Up

    %p.text-center.bold
      Additional Retouched shots are $25 each.

%section
  .container
    .row
      .col-md-4.col-6.mb-4
        = image_tag("headshots/derek_yuan.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/coraly_rosario.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/alena_chincurtis.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/sara_madanat.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/aaron_endre.jpg", class: 'img-fluid')
      .col-md-4.col-6.mb-4
        = image_tag("headshots/carlos_martinez.jpg", class: 'img-fluid')
    .row.mt-5
      .col-md-4.offset-md-4.mb-5
        %a{href: '#', class: "btn btn-primary btn-lg btn-block"}
          Book Your Shoot