- set_meta_tags canonical: root_url
- set_meta_tags image_src: image_path("og_meta.jpg")
- set_meta_tags description: "Help friends find jobs."
- set_meta_tags og: {image: image_path("og_meta.jpg"), url: root_url, description: "Help friends find jobs."}

.jumbotron.jumbotron-fluid.mb-0{style: "background-color: #2B3369;"}
  .container
    %h1.display-4.text-white.mb-4 Help Friends Find Jobs
    .row
      .col-md-6
        %p.lead.text-white
          HireClub helps you
          #{link_to 'find a job', jobs_path, class: 'text-info bold'},
          get
          = link_to "professional career coaching", helpers_path, class: "text-info bold"
          or show off
          #{link_to 'your projects', projects_path, class: 'text-info bold'}.
          
        / %p.lead.text-white
        /   Join our 16,000+ members today

    .row.mt-4
      .col-md-5.col-sm-8.col-lg-4.mb-4
        %a.btn.btn-info.btn-lg.btn-block{:href => user_facebook_omniauth_authorize_path, :role => "button"}
          %i.fa.fa-facebook-square.mr-2{"aria-hidden" => "true"}
          Sign Up With Facebook
      .col-md-3.col-sm-4
        %a.btn.btn-outline-secondary.btn-lg.btn-block.text-white{:href => new_user_registration_path, :role => "button"} Join Now

.container-fluid.p-0
  .row.no-gutters
    .col-sm-4
      %a{href: helpers_path}
        .card.card-inverse.text-center.card-primary
          %img.card-img{src: "http://placehold.it/800x200/79ADDC/ffffff?text=+", style: "border-radius: 0"}
          .card-img-overlay
            %h4.card-title.letterspace_min.bold{style: "font-size: 1.25rem;"}
              Get Coaching
            %p.card-text.text-white.letterspace_min Private, affordable coaching tailored for you.
    .col-sm-4
      %a{href: new_job_path}
        .card.card-inverse.text-center
          %img.card-img{src: "http://placehold.it/800x200/6B4E71/ffffff?text=+", style: "border-radius: 0"}
          .card-img-overlay
            %h4.card-title.letterspace_min.bold{style: "font-size: 1.25rem;"}
              Post a Job
            %p.card-text.text-white.letterspace_min Reach 16,000 qualified candidates.
    .col-sm-4
      %a{href: communities_path}
        .card.card-inverse.text-center
          %img.card-img{src: "http://placehold.it/800x200/52AA5E/ffffff?text=+", style: "border-radius: 0"}
          .card-img-overlay
            %h4.card-title.letterspace_min.bold{style: "font-size: 1.25rem;"}
              Join the Community
            %p.card-text.text-white.letterspace_min HireClub is here for you.
          
.container-fluid.p-0
  .row.no-gutters
    .col-1
      = image_tag "headshots/roshni_mistry.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/roger_toor_3725-2_high.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/anita_sansguiri_2.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/anita_shaw_1.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/ben_seidl.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/annie_jalota_4033_high.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/carlos_martinez_1.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/neha_khetan_5898.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/chloe_lauer_2.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/coraly_rosario_2.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/hien_phan_6711.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/emily_yau_2.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/hasan_korre_3.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/linda_pham_4331_high.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/jake_hytken_1.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/sarah_juhn_5819.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/shweta-balasubramanian_5175_high.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/jennifer_barnhart.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/rikin_mathur_6670_high.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/kristina_vulgan_2.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/parker_commans_1.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/vandita_arora_4808_high.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/kinh_demaree_5662.jpg", class: 'img-fluid'
    .col-1
      = image_tag "headshots/jason_ng_6225_high.jpg", class: 'img-fluid'
    
    
