- set_meta_tags title: "#{@project.try(:name)} By #{@project.user.display_name}"
- set_meta_tags keywords: "#{@project.skills_list}, #{@company}"

.container.mt-5.mb-5
  .row
    .col-sm-8
      = image_tag(model_image(@project.image, 800, 600, true), alt: @project.name, class: "img-fluid")
      / %img{:alt => project.name, :src => model_image(@project.image, 800, 600, true), width: "100%"}
    .col-sm-4
      %h1
        = @project.name
      %hr
      .media.mb-4
        = link_to image_tag(model_image(@project.user.avatar, 200, 200, true), width: 50, class: "d-flex align-self-center mr-3 rounded-circle"), @project.user
        .media-body
          = link_to @project.user.display_name, @project.user
      %hr
      = render partial: "/likes/like_button", locals: { likeable: @project }
      %hr

      - if @project.skills_list.present?
        %h6 Skills
        %p
          = @project.skills_list

      - if @project.company
        %h6 Company
        %p
          = link_to @project.company.name, @project.company

      - if @project.description.present?
        %h6 Description
        %p
          = @project.description

      - if @project.link.present?
        %h6 Link
        %p
          = link_to @project.link, @project.link, target: "_blank"

      - if policy(@project).edit?
        %hr
        = link_to edit_user_project_path(@project.user, @project), class: "btn btn-primary btn-sm" do
          %i.fa.fa-pencil.mr-1
          Edit
      %hr
      - previous_project = @project.previous_project
      - if previous_project
        = link_to "Previous", user_project_path(@project.user, previous_project) 
      - next_project = @project.next_project
      - if next_project
        = link_to "Next", user_project_path(@project.user, next_project), class: 'pull-right'
