= title "Companies"
.container.mt-5.mb-5
  %h1 
    Companies
    %small
      = link_to 'New', new_company_path, class: "btn btn-primary btn-sm" if policy(Company).new?


  %table.table
    %thead
      %tr
        %th Name
        %th Avatar
        %th Logo
        %th Website
        %th Clearbit
        %th
        %th

    %tbody
      - @companies.each do |company|
        %tr
          %td= link_to company.name, company
          %td= image_tag(model_image(company.avatar, 200, 200, true), width: 100)
          %td= image_tag(model_image(company.logo, 200, 200, true), width: 100)
          %td= company.website_url
          %td= image_tag("https://logo.clearbit.com/#{company.domain}", width: 100) if company.website_url.present?
          %td= link_to 'Edit', edit_company_path(company) if policy(company).edit?

  = paginate @companies