- set_meta_tags canonical: story_url(@story)
- set_meta_tags description: @story.content
- set_meta_tags og: {type: "article", url: story_url(@story), description: markdown_stripped(@story.content), image: model_image(@story.cover, 1920, 1080, true)}

.container.mt-4
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Stories", stories_path
    %li.breadcrumb-item
      = link_to "By #{@story.user.display_name}", stories_path(username: @story.user.username)
  
  - if policy(@story).edit?
    %p.mt-4
      - if @story.unpublished? && policy(@story).publish?
        = link_to publish_story_path(@story) do
          %span.badge.badge-pill.badge-primary.text-uppercase.mr-2
            Publish

      = link_to edit_story_path(@story) do
        %span.badge.badge-pill-outline.text-uppercase.mr-2
          Edit

      - if @story.unpublished?
        %span.badge.badge-pill-outline.badge-warning.text-uppercase
          Draft

  .mb-4
    %h1.display-4
      = title @story.name
    %h4.light
      = @story.subtitle
  
- if @story.cover_uid.present?
  .container
    = image_tag(model_image(@story.cover, 1920, 1080, true), alt: @story.name, class: "img-fluid")
  
.container
  .row
    .col-sm-12.col-lg-7          
      %hr
        .row
          .col-sm-2
            = render partial: "/likes/like_button", locals: { likeable: @story }
          

      %hr

    .col-sm-12.col-lg-7.mb-5
      %h6.regular
        - if @story.published?
          = local_time @story.published_on, '%B %e, %Y'
        - else
          Updated
          = local_time @story.updated_at

      = markdown(@story.content)

      - @story.tags.each do |tag|
        %span.badge.badge-pill-outline
          = tag

      - if @story.published?
        %hr
        = render partial: "comments/comments", locals: { commentable: @story }
        = render partial: "comments/form", locals: { commentable: @story } 

