= form_for(Assignee.new,remote: true, html: {class: "form-horizontal" }) do |f|
  = f.hidden_field :appointment_id, value: appointment.id
  .form-group
    = select_tag :users,[],{ multiple: true, class: "autocomplete_assignee"}
    = f.hidden_field :assign_me_id, value: false, id: "assign_me_id"
  .form-control-feedback
      
  = f.submit "Assign", class: 'btn btn-primary btn-sm', data: {disable_with: "Please wait..."}
  - if !appointment.assignees.where(user: current_user).exists?
    = link_to "Assign me", assignees_path(assignee: {appointment_id: appointment.id},users: [current_user.id]), method: :post, remote: true,id: 'assign_me_btn', class: 'btn btn-outline-primary btn-sm',data: {disable_with: "Please wait..."}