.nested-fields
  .row
    .col-7
      .form-group{class: ('has-danger' if f.object.errors.any?)}
        = f.label :milestone
        = link_to_remove_association f, class: "btn btn-default btn-sm" do
          .text-danger
            %i.fa.fa-trash-o
        = f.text_field :name, class: "form-control", placeholder: "Founded HireClub with 25 of my friends",maxlength: 140

        - if f.object.errors.any?
          .form-control-feedback
            = f.object.errors.messages.first[1][0]
    .col-5
      .form-group
        = f.label "Date"
        %br
        = f.date_select :start_date, {end_year: Date.today.year + 1, start_year: Date.today.year - 30, discard_day: true, order: [:month,:year]}
    