= title "Choose Username"

.container.mt-5.mb-5
  .row.justify-content-center
    .col-lg-6.col-md-8.col-sm-10
      %h1 Choose Username

      = form_for @user, url: wizard_path, method: :put do |f|
        .form-group{class: ('has-danger' if @user.errors.any?)}
          = f.text_field :username, class: 'form-control form-control-lg', placeholder: "johndoe"
          
          .form-control-feedback
            - username = @user.errors.any? ? @user.errors.details[:username][0][:value] : "username"
            = "hireclub.co/#{username}"
            - if @user.errors.any?
              is not available
          %small.form-text.text-muted 
            %p
            You can use letters, dashes, underscores or dots.
            %br
            You can change this at any time.

        = f.submit "Next", class: "btn btn-primary btn-lg"
