%tr
  - if current_user.is_admin || current_user.has_assignments?
    %td
      - if appointment.user.present?
        = link_to image_tag(model_avatar(appointment.user.avatar, 200, true), width: 32, class: 'mr-1 rounded-circle'), appointment.user
      = link_to appointment.user_name, appointment
  %td
    = link_to appointment.name, appointment
  %td
    - if appointment.canceled?
      %span.badge.badge-warning
        Canceled
    - elsif appointment.completed?
      - if appointment.reviewed?
        - appointment.appointment_review.rating.times do
          %i.fa.fa-star.star_rating
      - else
        %span.badge.badge-success
          Completed
    - elsif current_user.is_admin || current_user.has_assignments?
      - if appointment.assigned_users.exists?
        = link_to image_tag(model_avatar(appointment.assigned_users.first.avatar, 200, true), width: 32, class: 'mr-1 rounded-circle'), appointment.assigned_users.first
  %td
    = appointment.start_time.strftime("%A %B %e")
  %td
    = appointment.start_time.strftime("%l:%M %P") 
    ·
    = pluralize(appointment.duration.to_i, "minutes")