.col-sm-9
  %table.table
    %thead
      %tr
        - if current_user.is_admin
          %th User
        %th Appointment
        %th Status
        %th Date
        %th Time
        
    %tbody
    - @appointments.each do |appointment|
      %tr
        - if current_user.is_admin
          %td
            - if appointment.user.present?
              = link_to image_tag(model_avatar(appointment.user.avatar, 200, true), width: 32, class: 'mr-1 rounded-circle'), appointment.user
            = link_to "#{appointment.first_name} #{appointment.last_name}", appointment
        %td
          = link_to appointment.name, appointment
        %td
          - if appointment.canceled?
            %span.badge.badge-warning
              Canceled
          - elsif appointment.completed?
            %span.badge.badge-success
              Completed
        %td
          = appointment.start_time.strftime("%A %B %e")
        %td
          = appointment.start_time.strftime("%l:%M %P") 
          ·
          = pluralize(appointment.duration.to_i, "minutes")
  - if @appointments.count == 0
    No Appointments Found

  = paginate @appointments
  %hr
  = link_to 'Book Appointment', Rails.application.secrets.acuity_link, class: "btn btn-primary"