.col-sm-9
  - if current_user.has_assignments? || current_user.is_admin
    = form_tag search_appointments_path, :method => 'get', class: 'mb-3' do
      = text_field_tag :query, params[:query], {placeholder: "Search Appointments", class: "form-control", type: "search"}
  %table.table
    %thead
      %tr
        - if current_user.is_admin || current_user.has_assignments?
          %th User
        %th Appointment
        %th Status
        %th Date
        %th Time
        
    %tbody
      = render @appointments
      
  - if @appointments.count == 0
    No Appointments Found

  = paginate @appointments
  %hr
  = link_to 'Book Appointment', Rails.application.secrets.acuity_link, class: "btn btn-primary"