.col-sm-3.mb-4
  .list-group
    = nav_link_to appointments_path, {class: 'list-group-item justify-content-between'}, { ignore_params: true } do
      Appointments
      %span.badge.badge-default
        = current_user.appointments.active.incomplete.count
    = nav_link_to 'Completed', completed_appointments_path, {class: 'list-group-item justify-content-between'}, { ignore_params: true }
    = nav_link_to 'Canceled', canceled_appointments_path, {class: 'list-group-item justify-content-between'}, { ignore_params: true }
    - if current_user.has_assignments?
      = nav_link_to assigned_appointments_path, {class: 'list-group-item justify-content-between'}, { ignore_params: true } do
        Assigned
        %span.badge.badge-default
          = current_user.assigned_appointments.count
    - if current_user.is_admin
      = nav_link_to unassigned_appointments_path, {class: 'list-group-item justify-content-between'}, { ignore_params: true } do
        Unassigned
        %span.badge.badge-default
          = Appointment.unassigned.all.count
      = nav_link_to all_appointments_path, {class: 'list-group-item justify-content-between'}, { ignore_params: true } do
        All
        %span.badge.badge-default
          = Appointment.all.count