.container.content_container
  %h1
    = title "Appointments"
  = link_to 'Book Appointment', "https://hireclub.acuityscheduling.com", class: "btn btn-primary"
  %table.table.mt-4
    %thead
      %tr
        %th Appointment
        %th Status
        %th Date
        %th Time
        
    %tbody
    - @appointments.each do |appointment|
      %tr
        %td
          = link_to appointment.name, appointment
        %td
          - if appointment.canceled?
            %span.badge.badge-warning
              Canceled
        %td
          = appointment.start_time.strftime("%A %B %e")
        %td
          = appointment.start_time.strftime("%l:%M %P") 
          \-
          = appointment.end_time.strftime("%l:%M %P") 
