.container-fluid.content_container
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Appointments", appointments_path
    %li.breadcrumb-item
      = link_to @appointment.friendly_id, @appointment
    - if current_user.is_admin
      %li.breadcrumb-item
        = link_to "Admin", rails_admin.edit_path(model_name: 'appointment', id: @appointment.id)

  .row
    .col-sm-7
      %h1
        = title "#{@appointment.name}"
        
      %p
        - if @appointment.category_name.present?
          %span.badge.badge-default
            = @appointment.category_name
        - if @appointment.completed?
          %span.badge.badge-success
            Completed
        - if @appointment.canceled?
          %span.badge.badge-warning
            Canceled
        - if @appointment.reviewed?
          %span.ml-2
            - @appointment.appointment_review.rating.times do
              %i.fa.fa-star.star_rating

      %p
        = @appointment.start_time.strftime("%A %B %e")
        ·
        = @appointment.start_time.strftime("%l:%M %P") 
        ·
        = pluralize(@appointment.duration.to_i, "minutes")
        ·
        = humanized_money_with_symbol(@appointment.appointment_type.price_cents)
      %p
        .btn-group
          - if policy(@appointment).complete?
            = link_to complete_appointment_path(@appointment), class: "btn btn-secondary" do
              %i.fa.fa-check.mr-1
              Complete
          - if policy(@appointment).refresh? 
            = link_to refresh_appointment_path(@appointment), class: "btn btn-secondary" do
              %i.fa.fa-refresh.mr-1
              Refresh
          - if policy(@appointment).show? && @appointment.reschedulable? 
            = link_to @appointment.confirmation_page_url, class: "btn btn-secondary", target: "_blank" do
              %i.fa.fa-clock-o.mr-1
              Reschedule

          
          - if @appointment.completed? && !@appointment.reviewed? && @appointment.user == current_user
            = link_to "Add Your Review",new_appointment_review_path(appointment_id: @appointment.id), class: "btn btn-info"        
      
      = render @appointment_messages
      
      - if @appointment.completed?
        %hr
        %p.small
          Completed
          = local_time_ago(@appointment.completed_on)
          by
          = @appointment.completed_by.display_name
        %hr
      - elsif @appointment.canceled?
        %hr
        %p.small
          Canceled
          = local_time_ago(@appointment.canceled_at)
          
        %hr

      - if @appointment.reviewed?
        .media.mb-4
          = link_to image_tag(model_avatar(@appointment.appointment_review.user.avatar, 200, true), width: 52, class: 'd-flex mr-3 rounded-circle'), @appointment.appointment_review.user
          .media-body
            %p.mb-0
              %strong
                = link_to @appointment.appointment_review.user.display_name, @appointment.appointment_review.user
            %p.mb-0.mt-1
              - @appointment.appointment_review.rating.times do
                %i.fa.fa-star.fa-2x.star_rating
            %p.mb-0.mt-1
              = @appointment.appointment_review.text
            
            %small.text-muted
              Reviewed
              = local_time_ago(@appointment.appointment_review.created_at)
        
          
        %hr

      - if @appointment.active?
        = render partial: "appointment_messages/form", locals: {appointment: @appointment}
    .col-sm-3.offset-sm-1
      - if policy(@appointment).manage?
        .card.mb-4
          .card-block.text-center
            = link_to image_tag(model_avatar(@appointment_user.avatar, 200, true), width: "50%", class: "rounded-circle"), @appointment_user if @appointment_user.present?
          .card-block.pt-0
            %h5.mt-0.semi_bold.cart-title
              - if @appointment_user.present?
                = link_to @appointment_user.display_name, @appointment_user 
              - else
                #{@appointment.first_name} #{@appointment.last_name}

            - if @appointment_user.present?
              %p.card-text
                %small.text-muted
                  - if @appointment_user.primary_role.present?
                    = @appointment_user.primary_role.name
                  - if @appointment_user.company.present?
                    ·
                    = link_to @appointment_user.company.name, @appointment_user.company
                  %br
                  - if @appointment_user.location.present?
                    = @appointment_user.location.name
                    ·
                  = "#{display_years(@appointment_user.years_experience)} Experience"
            

          %ul.list-group.list-group-flush
            - if @appointment.email.present?
              %li.list-group-item 
                = link_to @appointment.email, "mailto:#{@appointment.email}"
            - if @appointment.phone.present?
              %li.list-group-item 
                = link_to @appointment.phone, "tel:#{@appointment.phone}"
            - if @appointment_user.present?
              - if @appointment_user.website_url.present?
                %li.list-group-item 
                  = link_to link_display(@appointment_user.website_url), @appointment_user.website_url 
              - if @appointment_user.facebook_url.present?
                %li.list-group-item 
                  = link_to link_display(@appointment_user.facebook_url), @appointment_user.facebook_url 
              - if @appointment_user.facebook_url.present?
                %li.list-group-item 
                  = link_to link_display(@appointment_user.linkedin_url), @appointment_user.linkedin_url
              - if @appointment_user.twitter_url.present?
                %li.list-group-item 
                  = link_to link_display(@appointment_user.twitter_url), @appointment_user.twitter_url

      %h6 Helpers
      %hr
      #appointment_assignees
        - if @appointment.assignees.any?
          - @appointment.assignees.each do |assignee|
            = render partial: "assignees/assignee", locals: { assignee: assignee }

      - if policy(@appointment).manage?
        %h6.mt-3 Assign Helpers
        = render partial: "assignees/form", locals: {appointment: @appointment}
        
      %h6.mt-5 Attachments
      %hr
      - @appointment.attachments.by_oldest.each do |attachment|
        .media.attachment.mb-3
          - if attachment.has_file?
            = link_to attachment.file.remote_url do
              = image_tag(model_image(attachment.file, 200, 200, true), class: "d-flex mr-2", width: "50")
          .media-body
            %p.mb-0
              - if attachment.has_link?
                = link_to link_display(attachment.link), attachment.link
              - else
                = link_to attachment.file.name, attachment.file.remote_url
            %small.text-muted
              - if attachment.user.present?
                = link_to attachment.user.display_name, attachment.user
                ·
              = local_time_ago(attachment.created_at)
              - if policy(attachment).destroy?
                ·
                = link_to "Delete", attachment_path(attachment), method: :delete, data: { confirm: "Delete this attachment?" }, class: "text-muted"

      - if policy(@attachment).create?
        %hr
        = render partial: "attachments/form", locals: {attachable: @appointment}

      %h6.mt-5 Payment
      %hr
      - @appointment.payments.by_oldest.each do |payment|
        .payment.mb-2
          %p.mb-0
            = humanized_money_with_symbol(payment.amount)
            - if payment.description.present?
              ·
              = payment.description
          %small.text-muted
            = local_time_ago(payment.paid_on)
            ·
            = payment.processor.titlecase
            ·
            = payment.external_id
            - if current_user.is_admin
              ·
              = link_to "Admin", rails_admin.edit_path(model_name: 'payment', id: payment.id), class: "text-warning"

      - if policy(@appointment).manage?
        %h6.mt-5 Payee
        %hr
      - if @appointment.payee && policy(@appointment).manage?
        .media.mb-4
          = link_to image_tag(model_avatar(@appointment.payee.avatar, 200, true), width: 52, class: 'd-flex mr-3 rounded-circle'), @appointment.payee
          .media-body
            %p.mb-0
              %strong
                = link_to @appointment.payee.display_name, @appointment.payee
            %small.text-muted
              - if policy(@appointment).remove_payee?
                = link_to "Remove", remove_payee_appointment_path(id: @appointment.id), class: '', data: { confirm: "Are you sure?" }
      - if @appointment.payee.nil? && policy(@appointment).add_payee?
        = form_for @appointment, url: add_payee_appointment_path, method: :post do |f|
          .form-group
            = f.select :payee_id,[] , {}, {class: 'autocomplete_payee'}
          = f.submit 'Add Payee', class: 'btn btn-info btn-sm'
      - if policy(@appointment.payouts.build).create?
        .mt-5
        = link_to "Payout", preview_payout_path, class: 'btn btn-info'
      
      

      
      
