.container.content_container
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Appointments", appointments_path
    %li.breadcrumb-item
      = link_to @appointment.user.display_name, @appointment.user

  
    

  .row
    .col-sm-8
      %span.badge.badge-default
        = @appointment.category_name
      %h1
        = title "#{@appointment.name}"
      %p
        = @appointment.start_time.strftime("%A %B %e")
        ·
        = @appointment.start_time.strftime("%l:%M %P") 
        \-
        = @appointment.end_time.strftime("%l:%M %P") 
      %p
        - if @appointment.canceled?
          %span.badge.badge-warning
            Canceled
        
      %hr
      = render partial: "appointment_messages/appointment_messages", locals: {appointment: @appointment}
      - if @appointment.active?
        = render partial: "appointment_messages/form", locals: {appointment: @appointment}
    .col-sm-3
      = link_to 'Refresh', refresh_appointment_path(@appointment), class: "btn btn-secondary btn-block" if policy(@appointment).refresh?
      = link_to "Admin", rails_admin.edit_path(model_name: 'appointment', id: @appointment.id), class: "btn btn-danger btn-block" if current_user && current_user.is_admin
