.col-sm-6.offset-sm-3
  %h1
    Confirm Transfer
  .row
    .col-6
      Payee Name
    .col-6
      = @appointment.payee.name
  .row
    .col-6
      Appointment name
    .col-6
      = @appointment.name
  .row
    .col-6
      Appointment fees
    .col-6
      $
      = @appointment.price_cents
  .row
    .col-6
      Amount to be paid
    .col-6
      $
      = 0.7 * @appointment.price_cents



  = link_to "Save", payouts_path({appointment_id: @appointment.id}), method: :post, class: 'btn btn-info'
