%footer
  .container
    %small
      .bold
        %ul.list-inline
          %li.list-inline-item
            = link_to "Home", root_path
          %li.list-inline-item
            = link_to "About", about_path
          %li.list-inline-item
            = link_to "Contact", contact_path
          %li.list-inline-item
            = link_to "Apply", "http://facebook.com/groups/hireclub"
      %p
        HireClub is brought to you by
        = link_to "Ketan Anjaria", "http://kidbombay.com"
        aka 
        = link_to "@kidbombay", "http://twitter.com/kidbombay"
        %br
        © 2017 kidBombay. All rights reserved.
