%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  
  %title= content_for?(:title) ? yield(:title) : 'HireClub'
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'HireClub'}"}

  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  
  %script{:src => "https://use.fontawesome.com/df39f018e9.js"}
  %script{:src => "https://use.typekit.net/hfy6svk.js"}
  :javascript
    try{Typekit.load({ async: false });}catch(e){}
  
  = csrf_meta_tags