!!!
%html
  = render 'layouts/head'
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

    - unless controller_name == 'conversations' && action_name == 'show'
      = render 'layouts/footer'